<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "net.goodweight"
	version 	= "0.9.9"
	versionCode = "099">

	<name>GoodWeight</name>

	<description>
		GoodWeight - Enjoyable weight control for the good hearted
	</description>

	<author href="http://www.facebook.com/peter.odeus"
		email="peter.odeus@gmail.com">
		Peter Odéus
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
		<!--gap:platform name="webos" />
		<gap:platform name="symbian.wrt" />
		<gap:platform name="blackberry" project="widgets"/-->
	</gap:platforms>

	<icon src="logo.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<!-- sample preference specification -->
	<!-- <preference name="autorotate" value="false" readonly="true"/> -->
	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="true" />
	<preference name="stay-in-webview" value="true" />
</widget>
